# Project 2 -- [Adam] [Ornelas]

## Question 1

In [1]:
myDF <- read.csv("/anvil/projects/tdm/data/olympics/athlete_events.csv")
head(myDF)

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

In [ ]:
#I uploaded an olympic athlete dataset in R code then I used the table function to add the number of how many athletes 
#played in each year below

In [2]:
table(myDF$Year)

 1896  1900  1904  1906  1908  1912  1920  1924  1928  1932  1936  1948  1952
  380  1936  1301  1733  3101  4040  4292  5693  5574  3321  7401  7480  9358
 1956  1960  1964  1968  1972  1976  1980  1984  1988  1992  1994  1996  1998
 6434  9235  9480 10479 11959 10502  8937 11588 14676 16413  3160 13780  3605
 2000  2002  2004  2006  2008  2010  2012  2014  2016
13821  4109 13443  4382 13602  4402 12920  4891 13688

## Question 2

In [3]:
#Picking the attributes from a column with the most entries

In [4]:
myDF <- read.csv("/anvil/projects/tdm/data/olympics/athlete_events.csv")
tail(sort(table(myDF$Name)))
#This code is looking at the tail of a sort table. So we are choosing the athletes with the most entries into the olympics
#this is a great way to find specific entries in any data set and very useful
#You can see Robert Tait Mckenzie had the most which was 58

Jean Lucien Nicolas Jacoby                Takashi Ono
                        32                         33
       Ioannis Theofilakis      Joseph "Josy" Stoffel
                        36                         38
  Heikki Ilmari Savolainen       Robert Tait McKenzie
                        39                         58

In [5]:
tail(sort(table(myDF$NOC)))
#We now look at the tail with most entries for each country everytime they were mentioned

  CAN   GER   ITA   GBR   FRA   USA
 9733  9830 10715 12256 12758 18853

## Question 3

In [6]:
#Counting how many times the word is called in the given row

In [7]:
sum(myDF$Team=="Denmark")
table(myDF$Team)["Denmark"]

[1] 3424

Denmark
   3424

In [8]:
#Code below find how many times Denmark is mentioned in different formats. Both lines do the same thing

In [9]:
length(grep("Denmark", myDF$Team))
sum(grepl("Denmark", myDF$Team))

[1] 3496

[1] 3496

In [10]:
#Gives all the specific Denmarks that are not just "Denmark" 
table(myDF$Team[ grepl("Denmark", myDF$Team) & (myDF$Team != "Denmark")])

        Denmark-1         Denmark-2         Denmark-3         Denmark-4
               30                30                 2                 2
   Denmark/Sweden Miss Denmark 1964
                6                 2

## Question 4

In [11]:
library(data.table)
#We upload the data different then usual because this data is not a sheet like excel so We have to give indivdual names when calling 
myDF <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", quote="")
names(myDF) <- c("CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID")

In [12]:
tail(sort(table(myDF$STATE)))
#Once We upload our data we can make the same calls as before
#We are sorting how many times each state is called the most

         FL    IL    NY    TX    CA
12654 15576 15895 25669 34862 37069

In [13]:
tail(sort(table(myDF$NAME)))
#Here we look at the tail of the sorted table names

                            LUCAS, HARRY JR
                                         46
                              WILLIAMS, J D
                                         64
  DEMOCRATIC CONGRESSIONAL DINNER COMMITTEE
                                         65
                               REPP, WARD W
                                         89
 AMERICAN DENTAL POLITICAL ACTION COMMITTEE
                                         96
AMERICAN MEDICAL POLITICAL ACTION COMMITTEE
                                        769

## Question 5

In [14]:
tail(sort(table(paste(myDF$CITY, myDF$STATE))))
#taking the same airport data from question 4 so we can merge the city and state

LOS ANGELES CA  WASHINGTON DC      DALLAS TX     HOUSTON TX
          5866           5890           6438          10146          11582
   NEW YORK NY
         13862

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.