# Project 12 -- [Adam] [Ornelas]

## Question 1

In [2]:
library(data.table)

df<-fread('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', nrows=1000)
options(repr.matrix.max.cols=50)
head(df)
#using nrows to pick 10000 columns we can change the number


#Store Number = Column 3
#Store Name = Columns 4
#Address = Columns 5
#City = Columns 6
#Zip Code = Columns 7

  Invoice/Item Number Date       Store Number
1 S07122800016        08/16/2012 2846
2 S21151400007        09/10/2014 3894
3 S11572100060        04/10/2013 2558
4 S07453200005        08/30/2012 4680
5 S23684100152        01/26/2015 2590
6 S06685900003        07/19/2012 4126
  Store Name                          Address              City
1 CVS PHARMACY #8443 / CEDAR RAPIDS   3419 16TH AVE SW     CEDAR RAPIDS
2 SMOKIN' JOE'S #6 TOBACCO AND LIQUOR 1404  1ST AVE NE     CEDAR RAPIDS
3 HY-VEE FOOD STORE / MOUNT PLEASANT  1700 E WASHINGTON    MOUNT PLEASANT
4 AFAL FOOD & LIQUOR / DES MOINES     4121 SE 14TH ST      DES MOINES
5 HY-VEE FOOD STORE #5 / CEDAR RAPIDS 3235 OAKLAND ROAD NE CEDAR RAPIDS
6 SAM'S MAINSTREET MARKET / SOLON     123 E MAIN ST        SOLON
  Zip Code Store Location                       County Number County  Category
1 52404    POINT (-91.716615 41.963516)         57            LINN    1012100
2 52402    POINT (-91.6537 41.987286)           57            LINN    1031080
3 52641    POINT (-91.52888 40.962331000000006) 44            HENRY   1082900
4 50320    POINT (-93.596755 41.5464)           77            POLK    1051010
5 52402    POINT (-91.658105 42.010971)         57            LINN    1081600
6 52333    POINT (-91.494611 41.807199)         52            JOHNSON 1081390
  Category Name                      Vendor Number Vendor Name
1 CANADIAN WHISKIES                   55           SAZERAC NORTH AMERICA
2 VODKA 80 PROOF                     434           LUXCO-ST LOUIS
3 MISC. IMPORTED CORDIALS & LIQUEURS  85           BROWN-FORMAN CORPORATION
4 AMERICAN GRAPE BRANDIES            205           E AND J GALLO WINERY
5 WHISKEY LIQUEUR                    259           HEAVEN HILL BRANDS
6 IMPORTED SCHNAPPS                  421           SAZERAC CO., INC.
  Item Number Item Description                   Pack Bottle Volume (ml)
1 12408       CANADIAN LTD WHISKY                 6   1750
2 36306       HAWKEYE VODKA                      12    750
3 64676       CHAMBORD LIQUEUR ROYALE DE FRANCE  12    750
4 52594       E & J VS BRANDY                    24    375
5 86796       SOUTHERN HOST WHISKEY LIQUEUR      12    750
6 69637       DR. MCGILLICUDDY'S CHERRY SCHNAPPS 12   1000
  State Bottle Cost State Bottle Retail Bottles Sold Sale (Dollars)
1  8.99             13.49                3            40.47
2  3.34              5.01               12            60.12
3 18.56             27.84                2            55.68
4  2.93              4.40                3            13.20
5  5.37              8.06                4            32.24
6 11.00             16.50               12           198.00
  Volume Sold (Liters) Volume Sold (Gallons)
1  5.25                1.39
2  9.00                2.38
3  1.50                0.40
4  1.12                0.30
5  3.00                0.79
6 12.00                3.17

In [5]:
df<-fread('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', select = c("Store Number",
"Store Name","Address","City" ,"Zip Code"))
dim(df)
#SELECt allows us to choose which columns we want to use in our df like a subset

# There are 27050143 rows
#And there are 5 Columns

[1] 27050143        5

## Question 2

In [10]:
#a
library(data.table)
df<-fread('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', select = c("Store Number"))
tail(sort(table(df$`Store Number`)), 5) 
#This table sort tail is weird

#Top 10 stores I dont know why i had to put 5 in order to get 10

  2572   2512   2190   4829   2633
142536 147581 173109 190702 223447

In [5]:
#b
df<-fread('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', select = c("Store Name"))
tail(sort(table(df)), 10) 

#we are sorting the top store names in the df

Store Name
                   BENZ DISTRIBUTING    HY-VEE FOOD STORE #1 / MASON CITY
                              120357                               127264
                     HY-VEE #4 / WDM             HY-VEE #7 / CEDAR RAPIDS
                              128608                               131294
HY-VEE WINE AND SPIRITS / BETTENDORF  HY-VEE WINE AND SPIRITS / IOWA CITY
                              140319                               141557
     HY-VEE FOOD STORE / CEDAR FALLS            CENTRAL CITY LIQUOR, INC.
                              142536                               173158
                      CENTRAL CITY 2         HY-VEE #3 / BDI / DES MOINES
                              190653                               223447

In [2]:
#c
library(data.table)
df <- fread('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', select = c("Address", "City", "Zip Code"))

df$combined <- paste(df$Address, df$City, df$`Zip Code`, sep = ", ")
#We had to use paste to combine the 3 columns and check which are the top together

tail(table(df$combined), 10)
#top 10 values based on the columns

               998 8TH AVE, MARION, 52302
                                      847
         999 MIDDLE RD, BETTENDORF, 52722
                                     3389
               9TH ST SW B, WAUKON, 52172
                                    33923
        FIRST & MAIN, FT. ATKINSON, 52144
                                      566
      HIGHWAY 65 SOUTH, IOWA FALLS, 50126
                                    30612
       HWY 71 & HWY 175, LAKE VIEW, 51450
                                      239
           HWY 9 & 71, SPIRIT LAKE, 51360
                                    64541
ONE PRAIRIE MEADOWS DRIVE, ALTOONA, 50009
                                    14361
              PO BOX 1317, SPENCER, 51301
                                      415
 PO BOX 261  310 W DILLON, MARENGO, 52301
                                    41750

In [ ]:
#d
#A and b do agree at first but if i wanted to print the first 10 it would give me 20 top number so  I had to put 4
#The first 5 of a agree then the second 5 dont
#a and c do not agree at all probably because theres more factors involved

## Question 3

In [8]:
library(data.table)
df <- fread('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', select = c("Zip Code", "Category Name", "Sale (Dollars)"))

sum1 <- tapply(df$`Sale (Dollars)`, df$`Zip Code`, sum)

tail(sort(sum1), 10)

#WE tak

#We are taking certain columns from the csv in fread
#we are looking at the HIGHEST sums of purchases based on ZIp code

    50021     52722     50311     50613     52241     51501     50266     52240
 61328202  63447651  65407917  70716357  80224356  84485599  95956449 106827909
    52402     50320
108460935 132861227

In [11]:
df <- fread('/anvil/projects/tdm/data/iowa_liquor_sales/iowa_liquor_sales.csv', select = c("Zip Code", "Category Name", "Sale (Dollars)"))

sum1 <- tapply(df$`Sale (Dollars)`, df$`Category Name`, sum)

tail(sort(sum1), 10)
#These are the total number of sales based on the top liquor types

        IMPORTED BRANDIES          BLENDED WHISKIES        100% AGAVE TEQUILA
                 88413646                 109152591                 124223944
       TENNESSEE WHISKIES           IMPORTED VODKAS           WHISKEY LIQUEUR
                162676709                 183082359                 199736755
               SPICED RUM STRAIGHT BOURBON WHISKIES           AMERICAN VODKAS
                254362805                 257794862                 380307151
        CANADIAN WHISKIES
                457612891

Markdown notes and sentences and analysis written here.

## Question 4

In [16]:
library(data.table)
df <- fread('/anvil/projects/tdm/data/election/itcont2020.txt', select = c(10,15))
names(df) <- c("state", "donation")
sum1 <- tapply(df$donation, df$state, sum)
tail(sort(sum1), 10)
#We pick the 10th and 15th column and name it according to what it is
#Once we do that we can take find the top 10 states that gave the most donations using 
#tapply

Warning message in fread("/anvil/projects/tdm/data/election/itcont2020.txt", select = c(10, :
"Found and resolved improper quoting out-of-sample. First healed line 543881: <<C00401224|A|M10||202012149381299609|24T|IND|YOUNG, BRUCE|SARANAC LAKE|NY|12983|"SELF" (EMPLOYER WISHES TO REMAIN ANON|IND. CONTRACTOR / CARETAKER|09292020|27|C00649061|SA11AI_310755484|1482832||EARMARKED FOR COMMITTEE TO ELECT TEDRA COBB (C00649061)|4012120212130550457>>. If the fields are not quoted (e.g. field separator does not appear within any field), try quote="" to avoid this warning."

        WA         NV         MA         IL         FL         TX         DC
 384169499  384867853  521866708  610913249  913762179 1005943807 1060820708
        VA         NY         CA
1122819081 2521628477 2803518256

## Question 5

In [18]:
library(data.table)
df <- fread('/anvil/projects/tdm/data/movies_and_tv/imdb2024/basics.tsv', nrows=10)
df

   tconst    titleType primaryTitle
1  tt0000001 short     Carmencita
2  tt0000002 short     Le clown et ses chiens
3  tt0000003 short     Poor Pierrot
4  tt0000004 short     Un bon bock
5  tt0000005 short     Blacksmith Scene
6  tt0000006 short     Chinese Opium Den
7  tt0000007 short     Corbett and Courtney Before the Kinetograph
8  tt0000008 short     Edison Kinetoscopic Record of a Sneeze
9  tt0000009 movie     Miss Jerry
10 tt0000010 short     Leaving the Factory
   originalTitle                                     isAdult startYear endYear
1  Carmencita                                        0       1894      NA
2  Le clown et ses chiens                            0       1892      NA
3  Pauvre Pierrot                                    0       1892      NA
4  Un bon bock                                       0       1892      NA
5  Blacksmith Scene                                  0       1893      NA
6  Chinese Opium Den                                 0       1894      NA
7  Corbett and Courtney Before the Kinetograph       0       1894      NA
8  Edison Kinetoscopic Record of a Sneeze            0       1894      NA
9  Miss Jerry                                        0       1894      NA
10 La sortie de l'usine Lumi\303\250re \303\240 Lyon 0       1895      NA
   runtimeMinutes genres
1   1             Documentary,Short
2   5             Animation,Short
3   5             Animation,Comedy,Romance
4  12             Animation,Short
5   1             Comedy,Short
6   1             Short
7   1             Short,Sport
8   1             Documentary,Short
9  45             Romance
10  1             Documentary,Short

In [19]:
df$genres

 [1] "Documentary,Short"        "Animation,Short"
 [3] "Animation,Comedy,Romance" "Animation,Short"
 [5] "Comedy,Short"             "Short"
 [7] "Short,Sport"              "Documentary,Short"
 [9] "Romance"                  "Documentary,Short"

In [20]:
strsplit(df$genres, ',')

[[1]]
[1] "Documentary" "Short"

[[2]]
[1] "Animation" "Short"

[[3]]
[1] "Animation" "Comedy"    "Romance"

[[4]]
[1] "Animation" "Short"

[[5]]
[1] "Comedy" "Short"

[[6]]
[1] "Short"

[[7]]
[1] "Short" "Sport"

[[8]]
[1] "Documentary" "Short"

[[9]]
[1] "Romance"

[[10]]
[1] "Documentary" "Short"

In [22]:
unlist(strsplit(df$genres, ','))

 [1] "Documentary" "Short"       "Animation"   "Short"       "Animation"
 [6] "Comedy"      "Romance"     "Animation"   "Short"       "Comedy"
[11] "Short"       "Short"       "Short"       "Sport"       "Documentary"
[16] "Short"       "Romance"     "Documentary" "Short"

In [24]:
table(unlist(strsplit(df$genres, ',')))

  Animation      Comedy Documentary     Romance       Short       Sport
          3           2           3           2           8           1

Problem 5 allows us to look at different ways of looking at string 
we can split them in different ways shown above

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.