# Project 4 -- [Adam] [ornelas]

## Question 1

In [1]:
import pandas as pd

mydf = pd.read_csv("/anvil/projects/tdm/data/death_records/DeathRecords.csv")
#Importing the death records df

In [2]:
mydf.groupby('Sex')['Age'].mean()
#Finding the mean age of deaths for all sex's

Sex
F    76.676685
M    70.227858
Name: Age, dtype: float64

## Question 2

In [3]:
myDF = pd.read_csv("/anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv")
#Uploading a new df
myDF.columns = ["BASKET_NUM", "HSHD_NUM", "PURCHASE", "PRODUCT_NUM", "SPEND", "UNITS", "STORE_R", "WEEK_NUM", "YEAR"]

In [4]:
myDF.groupby('PRODUCT_NUM')['SPEND'].sum().sort_values().tail(10)
#this code takes the total sale of each product then we find which has the most sales

PRODUCT_NUM
89415       50032.42
8523        53845.65
1344763     58170.84
4889358     63823.61
85201       65605.34
766108      66085.00
74424       75787.49
85311      102928.59
1367192    111433.78
8511       131399.78
Name: SPEND, dtype: float64

## Question 3

In [8]:
mydf= pd.read_csv('/anvil/projects/tdm/data/beer/reviews_sample.csv')
mydf.head()
#importing new df

,beer_id,username,date,text,look,smell,taste,feel,overall,score
0,271781,bluejacket74,2017-03-17,"750 ml bottle, 2016 vintage, bottle #304 of...",4.00,4.00,4.00,4.25,4.00,4.03
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31

In [10]:
mydf.groupby('date')['score'].mean().sort_values().tail(3)
#finding dates that had a perfect score of 5 for the mean

date
2001-04-26    5.0
2001-06-18    5.0
2002-01-26    5.0
Name: score, dtype: float64

## Question 4

In [11]:
myDF = pd.read_csv("/anvil/projects/tdm/data/election/itcont1980.txt", header=None, sep='|')
#New df
myDF.columns = ["CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID"]

In [12]:
myDF.groupby(myDF['CITY'] + ', ' + myDF['STATE'], dropna = False)['TRANSACTION_AMT'].sum().sort_values().tail(21)
#We use a new technique that allows us to use two columns to group

NEW ORLEANS, LA        912896
CINCINNATI, OH        1096983
DENVER, CO            1183471
MIDLAND, TX           1210584
WASHINGTOM, DC        1300341
GREENWICH, CT         1340112
TULSA, OK             1341956
MIAMI, FL             1541867
SAN ANTONIO, TX       1583292
ST LOUIS, MO          1639570
OKLAHOMA CITY, OK     1751431
ATLANTA, GA           1892056
BEVERLY HILLS, CA     2053148
SAN FRANCISCO, CA     2061441
CHICAGO, IL           3179170
WASHINGTON, DC        4273606
LOS ANGELES, CA       4569952
DALLAS, TX            4747262
HOUSTON, TX           7606806
NEW YORK, NY         11344277
NaN                  18092711
Name: TRANSACTION_AMT, dtype: int64

## Question 5

In [13]:
mydf= pd.read_csv('/anvil/projects/tdm/data/flights/subset/1990.csv')

In [14]:
mydf.groupby(mydf['Month'].astype(str) + '/' + mydf['DayofMonth'].astype(str) + '/' + mydf['Year'].astype(str))['DepDelay'].mean().sort_values().tail(6)

#Grouping multiple columns together to find the average delay between departures

12/20/1990    27.345403
2/15/1990     28.123023
2/16/1990     36.194221
12/28/1990    43.914432
12/22/1990    45.222249
12/21/1990    45.661782
Name: DepDelay, dtype: float64

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.