# Project 5 -- [Adam] [Ornelas]

## Question 1

In [ ]:
#We are pulling the death record data set

In [1]:
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/death_records/DeathRecords.csv")
head(myDF)

  Id ResidentStatus Education1989Revision Education2003Revision
1 1  1              0                     2
2 2  1              0                     2
3 3  1              0                     7
4 4  1              0                     6
5 5  1              0                     3
6 6  1              0                     5
  EducationReportingFlag MonthOfDeath Sex AgeType Age AgeSubstitutionFlag ...
1 1                      1            M   1       87  0                   ...
2 1                      1            M   1       58  0                   ...
3 1                      1            F   1       75  0                   ...
4 1                      1            M   1       74  0                   ...
5 1                      1            M   1       64  0                   ...
6 1                      1            F   1       93  0                   ...
  CauseRecode39 NumberOfEntityAxisConditions NumberOfRecordAxisConditions Race
1 24            1                            1                            1
2 21            3                            3                            1
3 28            2                            2                            1
4 22            3                            3                            1
5 21            1                            1                            1
6 37            5                            5                            1
  BridgedRaceFlag RaceImputationFlag RaceRecode3 RaceRecode5 HispanicOrigin
1 0               0                  1           1           100
2 0               0                  1           1           100
3 0               0                  1           1           100
4 0               0                  1           1           100
5 0               0                  1           1           100
6 0               0                  1           1           100
  HispanicOriginRaceRecode
1 6
2 6
3 6
4 6
5 6
6 6

In [2]:
femaleDF <- subset(myDF, Sex=="F")
head(femaleDF)
#I am taking all the females and putting them in a sub catagory

  Id ResidentStatus Education1989Revision Education2003Revision
1  3 1              0                     7
2  6 1              0                     5
3  9 1              0                     3
4 11 1              0                     3
5 13 1              0                     4
6 14 1              0                     3
  EducationReportingFlag MonthOfDeath Sex AgeType Age AgeSubstitutionFlag ...
1 1                      1            F   1       75  0                   ...
2 1                      1            F   1       93  0                   ...
3 1                      1            F   1       86  0                   ...
4 1                      1            F   1       79  0                   ...
5 1                      1            F   1       85  0                   ...
6 1                      1            F   1       84  0                   ...
  CauseRecode39 NumberOfEntityAxisConditions NumberOfRecordAxisConditions Race
1 28            2                            2                            1
2 37            5                            5                            1
3 37            1                            1                            1
4 22            2                            2                            1
5 22            5                            5                            1
6  8            2                            2                            1
  BridgedRaceFlag RaceImputationFlag RaceRecode3 RaceRecode5 HispanicOrigin
1 0               0                  1           1           100
2 0               0                  1           1           100
3 0               0                  1           1           100
4 0               0                  1           1           100
5 0               0                  1           1           100
6 0               0                  1           1           100
  HispanicOriginRaceRecode
1 6
2 6
3 6
4 6
5 6
6 6

In [3]:
table(femaleDF$Age)
#We are checking how many different age values there are and 999 means the age does not exist

    1     2     3     4     5     6     7     8     9    10    11    12    13
 3164  2100  1346   937   820   583   495   511   418   472   358   347   386
   14    15    16    17    18    19    20    21    22    23    24    25    26
  410   499   533   636   735   827   936  1058  1117  1086  1155  1200  1320
   27    28    29    30    31    32    33    34    35    36    37    38    39
 1264  1340  1438  1452  1535  1683  1804  1878  2059  1999  2226  2267  2413
   40    41    42    43    44    45    46    47    48    49    50    51    52
 2577  2953  3324  3681  4091  4229  4524  4957  5664  6520  7247  8190  8740
   53    54    55    56    57    58    59    60    61    62    63    64    65
 9616 10189 11062 11748 12443 12762 13358 13977 14518 15142 15664 16284 17276
   66    67    68    69    70    71    72    73    74    75    76    77    78
18813 20865 17669 18584 20486 22755 22041 22074 22656 24026 25305 26091 27780
   79    80    81    82    83    84    85    86    87    88    89    90    91
29768 30499 32783 34991 37101 40035 40848 42914 44502 44126 44660 44348 41943
   92    93    94    95    96    97    98    99   100   101   102   103   104
39900 35799 31040 24847 21551 16784 13132  9881  7289  5153  3478  2186  1373
  105   106   107   108   109   110   111   112   113   114   999
  864   436   271   164    76    24    24     5     6     5   216

In [4]:
femaleDFF <- subset(myDF, (Sex=="F") & (Age != 999 ))
head(femaleDFF)
#I am choosing a subset that has all the females and number values are not 999

  Id ResidentStatus Education1989Revision Education2003Revision
1  3 1              0                     7
2  6 1              0                     5
3  9 1              0                     3
4 11 1              0                     3
5 13 1              0                     4
6 14 1              0                     3
  EducationReportingFlag MonthOfDeath Sex AgeType Age AgeSubstitutionFlag ...
1 1                      1            F   1       75  0                   ...
2 1                      1            F   1       93  0                   ...
3 1                      1            F   1       86  0                   ...
4 1                      1            F   1       79  0                   ...
5 1                      1            F   1       85  0                   ...
6 1                      1            F   1       84  0                   ...
  CauseRecode39 NumberOfEntityAxisConditions NumberOfRecordAxisConditions Race
1 28            2                            2                            1
2 37            5                            5                            1
3 37            1                            1                            1
4 22            2                            2                            1
5 22            5                            5                            1
6  8            2                            2                            1
  BridgedRaceFlag RaceImputationFlag RaceRecode3 RaceRecode5 HispanicOrigin
1 0               0                  1           1           100
2 0               0                  1           1           100
3 0               0                  1           1           100
4 0               0                  1           1           100
5 0               0                  1           1           100
6 0               0                  1           1           100
  HispanicOriginRaceRecode
1 6
2 6
3 6
4 6
5 6
6 6

Markdown notes and sentences and analysis written here.

## Question 2

In [2]:
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/8451/The_Complete_Journey_2_Master/5000_transactions.csv")
head(myDF)
#We are loading the spending data set

  BASKET_NUM HSHD_NUM PURCHASE_ PRODUCT_NUM SPEND UNITS STORE_R WEEK_NUM YEAR
1  24        1809     03-JAN-16 5817389     -1.50 -1    SOUTH   1        2016
2  24        1809     03-JAN-16 5829886     -1.50 -1    SOUTH   1        2016
3  34        1253     03-JAN-16  539501      2.19  1    EAST    1        2016
4  60        1595     03-JAN-16 5260099      0.99  1    WEST    1        2016
5  60        1595     03-JAN-16 4535660      2.50  2    WEST    1        2016
6 168        3393     03-JAN-16 5602916      4.50  1    SOUTH   1        2016

In [4]:
refundsDF <- subset(myDF, SPEND < 0)
head(refundsDF)
#I made a subset of all the refunds by choosing all the spenduing less than 0 because we want all the negative numbers.

  BASKET_NUM HSHD_NUM PURCHASE_ PRODUCT_NUM SPEND UNITS STORE_R WEEK_NUM YEAR
1     24     1809     03-JAN-16 5817389     -1.50 -1    SOUTH    1       2016
2     24     1809     03-JAN-16 5829886     -1.50 -1    SOUTH    1       2016
3   4955     2570     06-JAN-16 5391980     -0.38  1    WEST     1       2016
4  28557     3153     22-JAN-16 5184651     -3.42  9    CENTRAL  3       2016
5  62654     4172     15-FEB-16  300529     -0.71  1    EAST     7       2016
6 163292     3452     28-APR-16  899378     -0.61  1    SOUTH   17       2016

In [5]:
table(refundsDF$STORE_R)
# we are looking at each regon to see which has the most refunds

CENTRAL    EAST   SOUTH    WEST
   2750    3269    2675    3952

Markdown notes and sentences and analysis written here.

## Question 3

In [16]:
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/beer/reviews_sample.csv")
#Uploading the beer review sheet

In [17]:
reviewSpecDF <- subset(myDF, (score!=5) & (overall==5))
dim(reviewSpecDF)
head(reviewSpecDF)
#there are 12436 rows
#We chose all the beers with an overall score of 5 and the score does not equal 5

[1] 12436    10

  beer_id username    date
1 125646  jneff33     2017-12-20
2 125646  JonB25      2017-11-04
3  58482  JoePetto    2009-06-07
4 125646  HankSingle  2017-10-26
5 125646  bubseymour  2017-10-26
6 125646  JamieDuncan 2017-10-26
  text
1 \302\240\302\240
2 \302\240\302\240
3 \302\240\302\240 On draft at TND in Wayne in 13oz wide beer flute. This is not an attempt to create a rendition of a true belgian pale ale, rather it is a ""tweener"" beer bridging the belgian and american pale ale styles. That said, this is a really enjoyable beer regardless of style. Funkiness of the Merry Monks yeast strain hits first then followed by a nice amount of hops flavor on the finish. The beer is zippy with flavor and carbonation and extremely refreshing. At 6% ABV, this beer is made to session. \302\240
4 \302\240\302\240 Goodness, me. A gift from a friend, just back from Western MA. I thought it looked a little light - a beautiful, bright, luminous light orange, hazy as the name suggests, but it seemed pale for the stats. Everything else, though. Ripping fruits on the nose, this drinks like the most perfectly balanced mimosa - fresh squeezed orange juice and kinetic effervescence...it's impossible to connect this beer with its alcohol content until after you've finished it, it is just so light, and so lovely. Soft and creamy on the tongue, it leaves the exactly perfect trail of crisp bitterness on the release. I loved this beer, very close to the best one I've ever had, I think. I was shattered when it was gone. \302\240
5 \302\240\302\240 Do you really need another review? What\342\200\231s not to like here?
6 \302\240\302\240
  look smell taste feel overall score
1 4.50 4.75  5.00  5    5       4.91
2 5.00 4.75  5.00  5    5       4.94
3 4.50 4.50  5.00  5    5       4.85
4 4.75 5.00  5.00  5    5       4.99
5 5.00 4.75  5.00  5    5       4.94
6 5.00 5.00  4.75  5    5       4.90

## Question 4

In [31]:
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", quote="")
names(myDF) <- c("CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID")
head(myDF)

  CMTE_ID   AMNDT_IND RPT_TP TRANSACTION_PGI IMAGE_NUM   TRANSACTION_TP
1 C00078279 A         M11    P               80031492155 22Y
2 C00078279 A         M11                    79031415137 15
3 C00078279 A         M11                    79031415137 15
4 C00078279 A         M11                    79031415137 15
5 C00078287 A         Q1                     79031231889 15
6 C00078287 A         Q1                     79031231889 15
  ENTITY_TP NAME              CITY    STATE ... EMPLOYER        OCCUPATION
1 NA        MCKENNON, K R     MIDLAND MI    ...                 NA
2 NA        OREFFICE, P       MIDLAND MI    ... DOW CHEMICAL CO NA
3 NA        DOWNEY, J         MIDLAND MI    ... DOW CHEMICAL CO NA
4 NA        BLAIR, E          MIDLAND MI    ... DOW CHEMICAL CO NA
5 NA        BLANCHARD, JOHN A CHICAGO IL    ...                 NA
6 NA        CRAMER, JOHN H    CHICAGO IL    ...                 NA
  TRANSACTION_DT TRANSACTION_AMT OTHER_ID TRAN_ID FILE_NUM MEMO_CD
1 10031979        400                     NA      NA       NA
2 10261979       1500                     NA      NA       NA
3 10261979        300                     NA      NA       NA
4 10261979       1000                     NA      NA       NA
5  3201979        200                     NA      NA       NA
6  2281979        200                     NA      NA       NA
  MEMO_TEXT                      SUB_ID
1 CONTRIBUTION REF TO INDIVIDUAL 3062020110011466469
2                                3061920110000382948
3                                3061920110000382949
4                                3061920110000382950
5                                3061920110000383914
6                                3061920110000383915

In [37]:
find <- subset(myDF, is.na(TRANSACTION_DT))
dim(find)
head(find)
#we found the person who donated with 6 NA TRANSACTION_DT's its SCHECK, RICHARD Herbert

[1]  9 21

  CMTE_ID   AMNDT_IND RPT_TP TRANSACTION_PGI IMAGE_NUM   TRANSACTION_TP
1 C00097121 N         TER                    79011650894 15C
2 C00097121 N         TER                    79011650894 15C
3 C00097121 N         TER                    79011650894 15C
4 C00097121 N         TER                    79011650894 15C
5 C00097121 N         TER                    79011650894 15C
6 C00097121 N         TER                    79011650894 15C
  ENTITY_TP NAME                    CITY STATE ... EMPLOYER OCCUPATION
1 NA        SCHECK, RICHARD HERBERT            ...          NA
2 NA        SCHECK, RICHARD HERBERT            ...          NA
3 NA        SCHECK, RICHARD HERBERT            ...          NA
4 NA        SCHECK, RICHARD HERBERT            ...          NA
5 NA        SCHECK, RICHARD HERBERT            ...          NA
6 NA        SCHECK, RICHARD HERBERT            ...          NA
  TRANSACTION_DT TRANSACTION_AMT OTHER_ID  TRAN_ID FILE_NUM MEMO_CD MEMO_TEXT
1 NA              500            H8NY06014 NA      NA       NA
2 NA              500            H8NY06014 NA      NA       NA
3 NA             1000            H8NY06014 NA      NA       NA
4 NA             1000            H8NY06014 NA      NA       NA
5 NA             1000            H8NY06014 NA      NA       NA
6 NA             1000            H8NY06014 NA      NA       NA
  SUB_ID
1 3061920110000482535
2 3061920110000482532
3 3061920110000482533
4 3061920110000482534
5 3061920110000482536
6 3061920110000482537

## Question 5

In [1]:
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/flights/subset/1990.csv")
head(myDF)

  Year Month DayofMonth DayOfWeek DepTime CRSDepTime ArrTime CRSArrTime
1 1990 1     3          3         1707    1630       1755    1723
2 1990 1     4          4         1706    1630       1807    1723
3 1990 1     5          5         1629    1630       1715    1723
4 1990 1     6          6         1633    1630       1718    1723
5 1990 1     8          1         1630    1630       1726    1723
6 1990 1     9          2         1734    1630       1818    1723
  UniqueCarrier FlightNum ... TaxiIn TaxiOut Cancelled CancellationCode
1 US            29        ... NA     NA      0         NA
2 US            29        ... NA     NA      0         NA
3 US            29        ... NA     NA      0         NA
4 US            29        ... NA     NA      0         NA
5 US            29        ... NA     NA      0         NA
6 US            29        ... NA     NA      0         NA
  Diverted CarrierDelay WeatherDelay NASDelay SecurityDelay LateAircraftDelay
1 0        NA           NA           NA       NA            NA
2 0        NA           NA           NA       NA            NA
3 0        NA           NA           NA       NA            NA
4 0        NA           NA           NA       NA            NA
5 0        NA           NA           NA       NA            NA
6 0        NA           NA           NA       NA            NA

In [2]:
delay1DF <- subset(myDF, is.na(DepDelay) & is.na(ArrDelay))
dim(delay1DF)
#There are 52458 values missing in DepDelay and ArrDelay

[1] 52458    29

In [3]:
delay1DF <- subset(myDF, !is.na(DepDelay) & is.na(ArrDelay))
dim(delay1DF)
#For DepDelay not missing and ArrDelay missing there are 15954 flights

[1] 15954    29

In [4]:
delay1DF <- subset(myDF, is.na(DepDelay) & !is.na(ArrDelay))
dim(delay1DF)
#For DepDelay missing and ArrDelay given

[1]  0 29

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.